.pc-config-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;

  .component {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 12px;
    border-radius: 9px;
    box-shadow: 0 0 5px 5px rgba($color: #ddd, $alpha: 0.5);
    transition: all 0.2s;
    // user-select: none;

    .pc-component-icon {
      width: 32px;
      height: 32px;
    }

    .value {
      font-size: 30px;
      .component-name {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    &:hover {
      transform: scale(1.02);
    }
  }
}
