.button-container {
  font-size: 1.1rem;
  padding: 10px;
  border: none;
  transition: 0.1s linear;
  width: 100%;
  background-color: lightgrey;
  color: black;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: black;
    color: white;
  }

  &.google-sign-in {
    background-color: dodgerblue;
    color: white;

    border-radius: 5px;
    font-weight: 600;

    &:hover {
      background-color: blue;
    }
  }

  &.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover .logo {
      stroke: black;
      fill: black;
      transition: none;
    }
  }

  &.sign-in {
    border: none;
    background-color: #4c6ef5;
    color: white;
    transition: 0.1s;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: #364fc7;
      transition: none;
    }
  }

  &.sign-up {
    border: none;
    background-color: #edf2ff;
    color: black;
    transition: 0.1s;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: #dbe4ff;
      transition: none;
    }
  }

  &.primary {
    border: none;
    background-color: #4057af;
    color: white;

    &:hover {
      background-color: #374a96;
    }
  }

  &.secondary {
    border: none;
    background-color: #becbfd;

    &:hover {
      color: black;
      background-color: #ced8fe;
    }
  }

  &.delete {
    border: 0;
    box-shadow: inset 0 0 0 2px darkred;
    color: darkred;

    &:hover {
      background-color: #ff3030;
      box-shadow: inset 0 0 0 2px #ff3030;
      color: white;
    }
  }

  &.toggle-configs-bar {
    width: 5px;
    height: 50px;
    font-size: 52px;
    border: none;
    margin-left: 4px;
    background-color: transparent;
    color: #4057af;

    &:hover {
      color: #090c19;
    }
  }
}
