.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 16px;

  .links-container {
    display: flex;

    .logo {
      width: 128px;
      height: auto;
      stroke: #5c7cfa;
      fill: #5c7cfa;
      transition: 0.1s linear;
    }
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
}
