.sign-in-container {
  width: 30%;

  .group {
    margin: 40px 0px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}

@media screen and (max-width: 720px) {
  .sign-in-container {
    width: 100%;
  }
}
