.sign-in-container {
  width: 30%;
  margin-top: 96px;

  .group {
    margin: 40px 0px;
  }

  .error-container {
    color: red;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 24px;
  }
}

@media screen and (max-width: 720px) {
  .sign-in-container {
    width: 100%;
  }
}
