.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  font-size: 18px;

  .header {
    color: white;
    background-color: #748ffc;
    font-weight: 600;
    padding: 8px;
    border-radius: 8px;
  }

  .body {
    color: #1f2937;
    padding: 16px;
    box-shadow: 0px 0px 16px 4px #e2e2e2;
    border-radius: 8px;
    height: 100px;
  }
}
