.authentication-container {
  display: flex;
  justify-content: space-around;
  transition: 0.1s linear;
  position: relative;
}

@media screen and (max-width: 720px) {
  .authentication-container {
    margin: 10px;
    flex-direction: column;
  }
}
