.group {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;

  input {
    outline: none;
    border: 0px;
    font-size: 1.2rem;
  }

  input[type='password'] {
    letter-spacing: 3px;
  }
}
