:root {
  --main-bg-color: white;
  --main-font: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  font-family: var(--main-font);
}

input {
  background-color: transparent;
  font-family: var(--main-font);
}

button {
  font-family: var(--main-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}