:root {
  --main-bg-color: #f3f4f6;
  --main-font: 'Quicksand', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--main-bg-color);
  margin: 10px;
  font-family: var(--main-font);
}

input {
  background-color: transparent;
  font-family: var(--main-font);
}

button {
  font-family: var(--main-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
